{% set etcdkey = item.key %}
{% set etcdvalue = item.value %}

#graphite_flush_interval = 10000000000
#graphite_memstats = true
#graphite_host = "{{etcdvalue.graphite_host}}:2003"
#graphite_gcstats = true
#graphite_prefix = "gid{{etcdvalue.gid}}.match"
