doc/_book
doc/assets
doc/node_modules
.idea
.vscode
*.iml
*.class
gamex/confd
gamex/gamex
gamex/*.log
tools/data
tools/redis-init.info
tools/tools
x/auth/auth
x/auth/*.log
x/gm_tools/data2.db
x/gm_tools/gm_tools
x/redis_storage/redis_storage
dump.rdb
x/gm_tools/public/node_modules
examples/paydbdumper/2013_12_02_paydb.csv
examples/paydbdumper/2013_12_02_paydb_1.csv
examples/paydbdumper/bdc.out
examples/paydbdumper/hdc.out
examples/paydbdumper/out.android.log
examples/paydbdumper/paydb2log_bdc
examples/paydbdumper/paydb2log_hdc
gamex/default.etcd/member/snap/db
gamex/default.etcd/member/wal/0.tmp
gamex/default.etcd/member/wal/0000000000000000-0000000000000000.wal
gamex/log/gamex-err.log
gamex/log/gamex.log
x/auth/pprof
gamex/debugtest
gamex/leaktest
x/getback_guild_lost_item/lost_invertory.txt
x/getback_guild_lost_item/main
x/getback_guild_lost_item/get240/get240
x/getback_guild_lost_item/get240/lost_invertory.txt
x/getback_guild_lost_item/save310/lost_invertory.txt
x/getback_guild_lost_item/save310/save310
platform/x/gm_tools/public/node_modules
Examples/auto_config_loader
*.log
platform/x/ticonfig/protogen
bin/**
RUNNING