[CommonCfg]
#通用配置

#
# runmode = [dev, test, preview, prod]
# now only use for output statistic
#
run_mode="dev"

# 游戏同步服务地址 需要完整的公网地址
listen=":101{{item.key}}"
publicip = "aws"
etcd_endpoint = ["http://etcd.taiyouxi.net:2379/"]
# Etcd Root Path 注意以/开头 如 /a4k
etcd_root = "{{item.value.etcd_root}}"

# 游戏开始通知api地址 需要内网ip
listen_notify_addr="{{ ansible_eth0.ipv4.address }}:88{{item.key}}"

#只有这个token和gamex发给match的一致时才能正确匹配到
#正式环境中,只有渠道配置服需要单独处理,使得可以和正式服务器能够有效隔离开
match_token="{{item.value.shard_id}}"

# 游戏大区ID GID
gid = "{{item.value.gid}}"