{% set etcdvalue = item.value %}

graphite_valid = true
graphite_flush_interval = 10000000000
graphite_memstats = true
graphite_host = "{{etcdvalue.graphite_host}}:2003"
graphite_gcstats = true
graphite_prefix = {{etcdvalue.graphite_prefix}}
graphite_simple = true